<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Tp2-4 paginas</title>
    <style src="C:/Users/Sonia/Documents/3AÑO/PROGRAMACION3/html-tpn3-SONIS2001/TP5/public/Estilo.css"></style>
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <link href="C:/Users/Sonia/Documents/3AÑO/PROGRAMACION3/html-tpn3-SONIS2001/TP5/public/CSS/bootstrap.min.css.map" rel="stylesheet">
    <script src="Estilo.css"></script>
    <script type="text/javascript">

        function cambiaFondo(x) {
            var body = document.getElementById("body");
            body.style.backgroundColor = x.value

        }
    </script>

</head>

<body id="body">

    <script>
        alert('Hola a todos!');
    </script>

    <h5>CAMBIA AQUI EL COLOR DE FONDO</h5>
    <select name="fondo" id="fondo" onchange="cambiaFondo(this)">
        <option value="red">Rojo</option>
        <option value="blue">Azul</option>
        <option value="yellow">Amarillo</option>
        <option value="white">Blanco</option>
    </select>
    <header>

       
            <div class="container">
                <a href="tp2-perfil.html"><b>PERFIL</b></a>
            </div>
            <div class="container">
                <a href="tp2-servicios.html"><b>SERVICIOS</b></a>
            </div>
            <div class="container">
                <a href="tp2-productos.html"><b>PRODUCTOS</b></a>
            </div>
            <div class="container">
                <a href="formulario.html"><b>CONTACTENOS</b></a>
            </div>
            
       
        
    </header>

    <div class="container">

        <div class="row">
            <div class="col-lg-4" style="background-color:rgba(11, 94, 248, 0.445)">
                <h1>BIENVENIDOS A MI PAGINA WEB</h1>

            </div>
            <div class="col-lg-4" style="background-color:rgb(255, 5, 213)">
                <h2> Servicio de alquiler de disfraces</h2>
            </div>
        </div>
        <thead>
            <img src="disfraces-familia.jpg" alt="bienvenida">

        </thead>
        <hr />
        <a href="tp2-perfil.html">Ir a la página perfil</a>
        <br />
        <a href="tp2-servicios.html">Ir a la página Servicios</a>
        <br />
        <a href="tp2-productos.html">Ir a la página Productos</a>
        <br />
        <a href="formulario.html">Contáctenos</a>
</body>

</html>
</html>
</html>
<h1>Hola EJS</h1>
    <p> <%=nombre%></p>
        <ul>
        <% for (let i=0; i<materias.length; i++){ %>
            <li> <%= materias[i] %> </li>
        <% } %>
     
    </ul>
</body>
</html>