<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width>, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <a href="/"> CASA </a>
    <table>
        <thead>
            <th>Producto</th>
            <th>Cantidad</th>

        </thead>
        <tbody>
            <% for (let i=0; i<prods.length; i++){ %>
                <tr>
                    <td><%= prods[i].nombre %> </td>
                    <td><b><%= prods[i].cant %></b></td>

                </tr>
            <% } %>
        </tbody>
    </table>
</body>
</html>